@import "_sidebar.variables";

// sidebar

.sidebar-sidebar {
    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
    display: none;
    width: 0px;
    transition: all 0.3s ease;
    overflow-y: hidden;

    .sidebar-section {
        border-top: 1px solid;
        padding: 20px 15px;
        width: $sidebar-max-size;
    }

    .sidebar-avatar {
        .sidebar-avatar-img {
            width: 40px;
            height: 40px;
            float: left;
            margin-right: 10px;
        }
        .sidebar-avatar-info {
            display: none;
        }
    }

    .sidebar-menu-heading {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 13px;
        display: none;
    }

    .sidebar-menu {
        list-style: none;
        padding: 0;
        margin: 0;

        & > li > a {
            text-decoration: none;
            transition: color .3s ease;

            & > .sidebar-menu-icon {
                display: inline-block;
                padding: 7px 0;
                margin-right: 8px;
                border-radius: 3px;
                font-size: 1.4em;
                width: 40px;
                height: 40px;
                text-align: center;
            }

            & > .sidebar-menu-detail {
                transition: display 0.6s ease;
                display: none;
            }
        }
    }
}

.sidebar-enabled {
    .sidebar-sidebar {
        display: block !important;
        width: $sidebar-max-size !important;
    }
    .sidebar-avatar-info {
        display: block !important;
    }
    .sidebar-menu-heading {
        display: block !important;
    }
    .sidebar-menu-detail {
        display: inline-block !important;
    }
}

.sidebar-toggle {
    color: #fff !important;
    margin-right: 20px;
    padding: 5px;
    cursor: pointer;
}


// content

.sidebar-content {
    transition: all 0.3s ease;
    margin-top: 56px;
    margin-left: 0px;
    padding: 10px;
}

// media queries

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .sidebar-sidebar {
        display: block;
        width: $sidebar-min-size;
        
        &:hover {
            width: $sidebar-max-size;

            .sidebar-avatar-info,
            .sidebar-menu-heading{
                display: block;
            }

            .sidebar-menu-detail {
                display: inline-block;
            }
        }
    }
    .sidebar-toggle {
        display: none;
    }
    .sidebar-content {
        margin-left: $sidebar-min-size;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .sidebar-sidebar {
        display: block;
        width: $sidebar-min-size;

        &:hover {
            width: $sidebar-max-size;
        }
    }
    .sidebar-content {
        margin-left: $sidebar-min-size;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .sidebar-sidebar {
        display: block;
        width: $sidebar-max-size;
        
        .sidebar-menu > li > a > span.sidebar-menu-detail {
            display: inline-block;
        }

        .sidebar-avatar-info {
            display: block !important;
        }

        .sidebar-menu-heading {
            display: block !important;
        }
    }
    .sidebar-content {
        margin-left: $sidebar-max-size;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .sidebar-sidebar {
        width: $sidebar-max-size;
    }
    .sidebar-content {
        margin-left: $sidebar-max-size;
    }
}